<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>

    <!--AJAX CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!--Google Fonts CDN-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,400;1,500&display=swap" rel="stylesheet">

    <!--Main CSS-->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">

    <!--Bootstrap CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>

<body class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand px-4">Fahrzeugverwaltung</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-link" href="/sign-out">Sign Out</a>
            </div>
          </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-12 mx-auto">

                
                <div class="card mt-4 mb-4 p-2 bg-dark text-white" style="border: none;">
                    <h4 class="card-title p-3 mx-auto">Fahrt hinzufügen</h4>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 col-xs-12 mx-auto">
                                <form action="/handleNewTransaction" method="POST">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Gefahrene Kilometer" id="distance" name="distance" required>
                                        <span class="input-group-text">KM</span>
                                    </div>

                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Getankt" id="amount" name="amount" required>
                                        <span class="input-group-text">L</span>
                                    </div>

                                    <div class="input-group mb-3">
                                        <span class="input-group-text">CHF</span>
                                        <input type="text" class="form-control" placeholder="Tankkosten" id="cost" name="cost" required>
                                    </div>

                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Date</span>
                                        <input type="date" class="form-control" id="date" name="date" required>
                                    </div>

                                    <div class="row">
                                        <div class="col mx-auto text-center">
                                            <button class="m-3 btn btn-primary text-center" type="submit">Fahrt eintragen</button>
                                        </div>
                                    </div>

                                    
                            </form>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-12 mx-auto">


                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                      {% for category, message in messages %}
                        <div class="alert alert-{{category}}" role="alert">
                                {{ message }}
                        </div>
                      {% endfor %}
                    {% endif %}
                  {% endwith %}
            </div>
        </div>

        <!--Table-->
        <div class="row">
            <div class="col-md-8 col-xs-12 mx-auto">
                <table class="table table-dark text-center">
                    <thead>
                        <tr>
                            <th scope="col">#ID</th>
                            <th scope="col">Datum</th>
                            <th scope="col">Distanz (KM)</th>
                            <th scope="col">Tankmenge (L)</th>
                            <th scope="col">Tankkosten (CHF)</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for journey in data %}
                        <tr>
                            <th>{{journey[0]}}</th>
                            <td>{{journey[5]}}</td>
                            <td>{{ "{:.2f}".format(journey[2]) }}</td>
                            <td>{{ "{:.2f}".format(journey[3]) }}</td>
                            <td>${{ "{:.2f}".format(journey[4]) }}</td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <!--Bootstrap JS Bundle-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>